<!DOCTYPE HTML>
<html>
    <head>
        <title>Simon's Adventure</title>
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <style type="text/css">
	        body {
	            background-color: #000;
	            color: #fff;
	        
	            /* Allow mouse dragging. */
	            -moz-user-select: none;
	            -ms-user-select: none;
	            -o-user-select: none;
	            -webkit-user-select: none;
	            user-select: none;
	        	
	        	/* disable touch panning/zooming */
	        	-ms-touch-action: none;
	        	touch-action: none;
	        
	            /* Allow canvas to hit the edges of the browser viewport. */
	            margin: 0;
	        }
	        
	        #screen canvas {
	            margin: auto;
	        
	            /* Hide the gap for font descenders. */
	            display: block;
	        	
	        	/* disable scaling interpolation */
	        	image-rendering: optimizeSpeed;
	        	image-rendering: -moz-crisp-edges;
	        	image-rendering: -o-crisp-edges;
	        	image-rendering: -webkit-optimize-contrast;
	        	image-rendering: optimize-contrast;
	        	-ms-interpolation-mode: nearest-neighbor;
	        }
		</style>
    </head>
    <body>
        <!-- Canvas placeholder -->
		<div id="screen"></div>
        
        <script type="text/javascript" src="/js/simonsadventure.js"></script>
		
		<!-- Bootstrap & Mobile optimization tricks -->
		<script type="text/javascript">
			window.onReady(function onReady() {
				game.onload();

				// Mobile browser hacks
				if (me.sys.isMobile && !navigator.isCocoonJS) {
					// Prevent the webview from moving on a swipe
					window.document.addEventListener("touchmove", function (e) {
						e.preventDefault();
						window.scroll(0, 0);
						return false;
					}, false);

					// Scroll away mobile GUI
					(function () {
						window.scrollTo(0, 1);
						me.video.onresize(null);
					}).defer();

					me.event.subscribe(me.event.WINDOW_ONRESIZE, function (e) {
						window.scrollTo(0, 1);
					})

					// Retina viewport settings
					if (window.devicePixelRatio > 1) {
						document.getElementById("viewport").setAttribute(
							"content",
							"width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=0"
						);
					}
				}
			});
		</script>
    </body>
</html>
